{
    angry = (">:o", ">:-o", ">:O", ">:-O");
    blush = (":-[");
    cry = (":'(");
    footmouth = (":-!");
	frown = (":(", ":-(");
	suprised = (":O", ":-O", "=O", "=-O", ":o", ":-o", "=o", "=-o");
	happy = (":D", ":-D");
	angel = ("O:)", "O:-)");
	kiss = (":-*");
	lips = (":-x", ":-X");
	money = (":-$");
	smile = (":)", ":-)");
	razz = (":P", ":-P", ":p", ":-p");
	undecided = (":/", ":-/", ":\\", ":-\\");
	cool = ("8-)");
	wink = (";)", ";-)");
}