(
	{name = "Angry Face"; image = "angry.png"; insert = ">:o";},
	{name = Blush; image = "blush.png"; insert = ":-[";},
	{name = Crying; image = "cry.png"; insert = ":'(";},
	{name = "Foot in Mouth"; image = "footmouth.png"; insert = ":-!";},
	{name = Frown; image = "frown.png"; insert = ":(";},
	{name = Gasp; image = "gasp.png"; insert = ":O";},
	{name = Grin; image = "laugh.png"; insert = ":D";},
	{name = Halo; image = "innocent.png"; insert = "O:)";},
	{name = Kiss; image = "kiss.png"; insert = ":-*";},
	{name = "Lips Are Sealed"; image = "lips.png"; insert = ":-X";},
	{name = Money-mouth; image = "money.png"; insert = ":-$";},
	{name = Smile; image = "smile.png"; insert = ":)";},
	{name = "Sticking Out Tongue"; image = "yuck.png"; insert = ":P";},
	{name = Undecided; image = "slant.png"; insert = ":/";},
	{name = "Wearing Sunglasses"; image = "cool.png"; insert = "8-)";},
	{name = Wink; image = "wink.png"; insert = ";)";},
)