(
    {name = "4Head"; image = "4Head.png"; insert = "4Head";},
    {name = "AMPEnergy"; image = "AMPEnergy.png"; insert = "AMPEnergy";},
    {name = "AMPEnergyCherry"; image = "AMPEnergyCherry.png"; insert = "AMPEnergyCherry";},
    {name = "ANELE"; image = "ANELE.png"; insert = "ANELE";},
    {name = "ArgieB8"; image = "ArgieB8.png"; insert = "ArgieB8";},
    {name = "ArsonNoSexy"; image = "ArsonNoSexy.png"; insert = "ArsonNoSexy";},
    {name = "AsianGlow"; image = "AsianGlow.png"; insert = "AsianGlow";},
    {name = "AthenaPMS"; image = "AthenaPMS.png"; insert = "AthenaPMS";},
    {name = "BabyRage"; image = "BabyRage.png"; insert = "BabyRage";},
    {name = "BatChest"; image = "BatChest.png"; insert = "BatChest";},
    {name = "BCouch"; image = "BCouch.png"; insert = "BCouch";},
    {name = "BCWarrior"; image = "BCWarrior.png"; insert = "BCWarrior";},
    {name = "BibleThump"; image = "BibleThump.png"; insert = "BibleThump";},
    {name = "BiersDerp"; image = "BiersDerp.png"; insert = "BiersDerp";},
    {name = "BigBrother"; image = "BigBrother.png"; insert = "BigBrother";},
    {name = "BionicBunion"; image = "BionicBunion.png"; insert = "BionicBunion";},
    {name = "BlargNaut"; image = "BlargNaut.png"; insert = "BlargNaut";},
    {name = "bleedPurple"; image = "bleedPurple.png"; insert = "bleedPurple";},
    {name = "BloodTrail"; image = "BloodTrail.png"; insert = "BloodTrail";},
    {name = "BORT"; image = "BORT.png"; insert = "BORT";},
    {name = "BrainSlug"; image = "BrainSlug.png"; insert = "BrainSlug";},
    {name = "BrokeBack"; image = "BrokeBack.png"; insert = "BrokeBack";},
    {name = "BudBlast"; image = "BudBlast.png"; insert = "BudBlast";},
    {name = "BuddhaBar"; image = "BuddhaBar.png"; insert = "BuddhaBar";},
    {name = "BudStar"; image = "BudStar.png"; insert = "BudStar";},
    {name = "ChefFrank"; image = "ChefFrank.png"; insert = "ChefFrank";},
    {name = "cmonBruh"; image = "cmonBruh.png"; insert = "cmonBruh";},
    {name = "CoolCat"; image = "CoolCat.png"; insert = "CoolCat";},
    {name = "CorgiDerp"; image = "CorgiDerp.png"; insert = "CorgiDerp";},
    {name = "CougarHunt"; image = "CougarHunt.png"; insert = "CougarHunt";},
    {name = "DAESuppy"; image = "DAESuppy.png"; insert = "DAESuppy";},
    {name = "DalLOVE"; image = "DalLOVE.png"; insert = "DalLOVE";},
    {name = "DansGame"; image = "DansGame.png"; insert = "DansGame";},
    {name = "DatSheffy"; image = "DatSheffy.png"; insert = "DatSheffy";},
    {name = "DBstyle"; image = "DBstyle.png"; insert = "DBstyle";},
    {name = "deExcite"; image = "deExcite.png"; insert = "deExcite";},
    {name = "deIlluminati"; image = "deIlluminati.png"; insert = "deIlluminati";},
    {name = "DendiFace"; image = "DendiFace.png"; insert = "DendiFace";},
    {name = "DogFace"; image = "DogFace.png"; insert = "DogFace";},
    {name = "DOOMGuy"; image = "DOOMGuy.png"; insert = "DOOMGuy";},
    {name = "duDudu"; image = "duDudu.png"; insert = "duDudu";},
    {name = "EagleEye"; image = "EagleEye.png"; insert = "EagleEye";},
    {name = "EleGiggle"; image = "EleGiggle.png"; insert = "EleGiggle";},
    {name = "FailFish"; image = "FailFish.png"; insert = "FailFish";},
    {name = "FPSMarksman"; image = "FPSMarksman.png"; insert = "FPSMarksman";},
    {name = "FrankerZ"; image = "FrankerZ.png"; insert = "FrankerZ";},
    {name = "FreakinStinkin"; image = "FreakinStinkin.png"; insert = "FreakinStinkin";},
    {name = "FUNgineer"; image = "FUNgineer.png"; insert = "FUNgineer";},
    {name = "FunRun"; image = "FunRun.png"; insert = "FunRun";},
    {name = "FutureMan"; image = "FutureMan.png"; insert = "FutureMan";},
    {name = "FuzzyOtterOO"; image = "FuzzyOtterOO.png"; insert = "FuzzyOtterOO";},
    {name = "GingerPower"; image = "GingerPower.png"; insert = "GingerPower";},
    {name = "GrammarKing"; image = "GrammarKing.png"; insert = "GrammarKing";},
    {name = "HassaanChop"; image = "HassaanChop.png"; insert = "HassaanChop";},
    {name = "HassanChop"; image = "HassanChop.png"; insert = "HassanChop";},
    {name = "HeyGuys"; image = "HeyGuys.png"; insert = "HeyGuys";},
    {name = "HotPokket"; image = "HotPokket.png"; insert = "HotPokket";},
    {name = "HumbleLife"; image = "HumbleLife.png"; insert = "HumbleLife";},
    {name = "ItsBoshyTime"; image = "ItsBoshyTime.png"; insert = "ItsBoshyTime";},
    {name = "Jebaited"; image = "Jebaited.png"; insert = "Jebaited";},
    {name = "JKanStyle"; image = "JKanStyle.png"; insert = "JKanStyle";},
    {name = "JonCarnage"; image = "JonCarnage.png"; insert = "JonCarnage";},
    {name = "KAPOW"; image = "KAPOW.png"; insert = "KAPOW";},
    {name = "Kappa"; image = "Kappa.png"; insert = "Kappa";},
    {name = "KappaClaus"; image = "KappaClaus.png"; insert = "KappaClaus";},
    {name = "KappaPride"; image = "KappaPride.png"; insert = "KappaPride";},
    {name = "KappaRoss"; image = "KappaRoss.png"; insert = "KappaRoss";},
    {name = "KappaWealth"; image = "KappaWealth.png"; insert = "KappaWealth";},
    {name = "Keepo"; image = "Keepo.png"; insert = "Keepo";},
    {name = "KevinTurtle"; image = "KevinTurtle.png"; insert = "KevinTurtle";},
    {name = "Kippa"; image = "Kippa.png"; insert = "Kippa";},
    {name = "Kreygasm"; image = "Kreygasm.png"; insert = "Kreygasm";},
    {name = "Mau5"; image = "Mau5.png"; insert = "Mau5";},
    {name = "mcaT"; image = "mcaT.png"; insert = "mcaT";},
    {name = "MikeHogu"; image = "MikeHogu.png"; insert = "MikeHogu";},
    {name = "MingLee"; image = "MingLee.png"; insert = "MingLee";},
    {name = "MrDestructoid"; image = "MrDestructoid.png"; insert = "MrDestructoid";},
    {name = "MVGame"; image = "MVGame.png"; insert = "MVGame";},
    {name = "NinjaTroll"; image = "NinjaTroll.png"; insert = "NinjaTroll";},
    {name = "NomNom"; image = "NomNom.png"; insert = "NomNom";},
    {name = "NoNoSpot"; image = "NoNoSpot.png"; insert = "NoNoSpot";},
    {name = "NotATK"; image = "NotATK.png"; insert = "NotATK";},
    {name = "NotLikeThis"; image = "NotLikeThis.png"; insert = "NotLikeThis";},
    {name = "OhMyDog"; image = "OhMyDog.png"; insert = "OhMyDog";},
    {name = "OMGScoots"; image = "OMGScoots.png"; insert = "OMGScoots";},
    {name = "OneHand"; image = "OneHand.png"; insert = "OneHand";},
    {name = "OpieOP"; image = "OpieOP.png"; insert = "OpieOP";},
    {name = "OptimizePrime"; image = "OptimizePrime.png"; insert = "OptimizePrime";},
    {name = "OSfrog"; image = "OSfrog.png"; insert = "OSfrog";},
    {name = "OSkomodo"; image = "OSkomodo.png"; insert = "OSkomodo";},
    {name = "OSsloth"; image = "OSsloth.png"; insert = "OSsloth";},
    {name = "panicBasket"; image = "panicBasket.png"; insert = "panicBasket";},
    {name = "PanicVis"; image = "PanicVis.png"; insert = "PanicVis";},
    {name = "PartyTime"; image = "PartyTime.png"; insert = "PartyTime";},
    {name = "PazPazowitz"; image = "PazPazowitz.png"; insert = "PazPazowitz";},
    {name = "PeoplesChamp"; image = "PeoplesChamp.png"; insert = "PeoplesChamp";},
    {name = "PermaSmug"; image = "PermaSmug.png"; insert = "PermaSmug";},
    {name = "PeteZaroll"; image = "PeteZaroll.png"; insert = "PeteZaroll";},
    {name = "PeteZarollTie"; image = "PeteZarollTie.png"; insert = "PeteZarollTie";},
    {name = "PicoMause"; image = "PicoMause.png"; insert = "PicoMause";},
    {name = "PipeHype"; image = "PipeHype.png"; insert = "PipeHype";},
    {name = "PJSalt"; image = "PJSalt.png"; insert = "PJSalt";},
    {name = "PMSTwin"; image = "PMSTwin.png"; insert = "PMSTwin";},
    {name = "PogChamp"; image = "PogChamp.png"; insert = "PogChamp";},
    {name = "Poooound"; image = "Poooound.png"; insert = "Poooound";},
    {name = "PraiseIt"; image = "PraiseIt.png"; insert = "PraiseIt";},
    {name = "PRChase"; image = "PRChase.png"; insert = "PRChase";},
    {name = "PunchTrees"; image = "PunchTrees.png"; insert = "PunchTrees";},
    {name = "PuppeyFace"; image = "PuppeyFace.png"; insert = "PuppeyFace";},
    {name = "RaccAttack"; image = "RaccAttack.png"; insert = "RaccAttack";},
    {name = "RalpherZ"; image = "RalpherZ.png"; insert = "RalpherZ";},
    {name = "RedCoat"; image = "RedCoat.png"; insert = "RedCoat";},
    {name = "ResidentSleeper"; image = "ResidentSleeper.png"; insert = "ResidentSleeper";},
    {name = "riPepperonis"; image = "riPepperonis.png"; insert = "riPepperonis";},
    {name = "RitzMitz"; image = "RitzMitz.png"; insert = "RitzMitz";},
    {name = "RuleFive"; image = "RuleFive.png"; insert = "RuleFive";},
    {name = "SeemsGood"; image = "SeemsGood.png"; insert = "SeemsGood";},
    {name = "ShadyLulu"; image = "ShadyLulu.png"; insert = "ShadyLulu";},
    {name = "ShazBotstix"; image = "ShazBotstix.png"; insert = "ShazBotstix";},
    {name = "ShibeZ"; image = "ShibeZ.png"; insert = "ShibeZ";},
    {name = "SmoocherZ"; image = "SmoocherZ.png"; insert = "SmoocherZ";},
    {name = "SMOrc"; image = "SMOrc.png"; insert = "SMOrc";},
    {name = "SMSkull"; image = "SMSkull.png"; insert = "SMSkull";},
    {name = "SoBayed"; image = "SoBayed.png"; insert = "SoBayed";},
    {name = "SoonerLater"; image = "SoonerLater.png"; insert = "SoonerLater";},
    {name = "SriHead"; image = "SriHead.png"; insert = "SriHead";},
    {name = "SSSsss"; image = "SSSsss.png"; insert = "SSSsss";},
    {name = "StinkyCheese"; image = "StinkyCheese.png"; insert = "StinkyCheese";},
    {name = "StoneLightning"; image = "StoneLightning.png"; insert = "StoneLightning";},
    {name = "StrawBeary"; image = "StrawBeary.png"; insert = "StrawBeary";},
    {name = "SuperVinlin"; image = "SuperVinlin.png"; insert = "SuperVinlin";},
    {name = "SwiftRage"; image = "SwiftRage.png"; insert = "SwiftRage";},
    {name = "TBCheesePull"; image = "TBCheesePull.png"; insert = "TBCheesePull";},
    {name = "TBTacoLeft"; image = "TBTacoLeft.png"; insert = "TBTacoLeft";},
    {name = "TBTacoRight"; image = "TBTacoRight.png"; insert = "TBTacoRight";},
    {name = "TF2John"; image = "TF2John.png"; insert = "TF2John";},
    {name = "TheRinger"; image = "TheRinger.png"; insert = "TheRinger";},
    {name = "TheTarFu"; image = "TheTarFu.png"; insert = "TheTarFu";},
    {name = "TheThing"; image = "TheThing.png"; insert = "TheThing";},
    {name = "ThunBeast"; image = "ThunBeast.png"; insert = "ThunBeast";},
    {name = "TinyFace"; image = "TinyFace.png"; insert = "TinyFace";},
    {name = "TooSpicy"; image = "TooSpicy.png"; insert = "TooSpicy";},
    {name = "TriHard"; image = "TriHard.png"; insert = "TriHard";},
    {name = "TTours"; image = "TTours.png"; insert = "TTours";},
    {name = "twitchRaid"; image = "twitchRaid.png"; insert = "twitchRaid";},
    {name = "UleetBackup"; image = "UleetBackup.png"; insert = "UleetBackup";},
    {name = "UncleNox"; image = "UncleNox.png"; insert = "UncleNox";},
    {name = "UnSane"; image = "UnSane.png"; insert = "UnSane";},
    {name = "VaultBoy"; image = "VaultBoy.png"; insert = "VaultBoy";},
    {name = "VoHiYo"; image = "VoHiYo.png"; insert = "VoHiYo";},
    {name = "Volcania"; image = "Volcania.png"; insert = "Volcania";},
    {name = "WholeWheat"; image = "WholeWheat.png"; insert = "WholeWheat";},
    {name = "WinWaker"; image = "WinWaker.png"; insert = "WinWaker";},
    {name = "WTRuck"; image = "WTRuck.png"; insert = "WTRuck";},
    {name = "WutFace"; image = "WutFace.png"; insert = "WutFace";},
    {name = "YouWHY"; image = "YouWHY.png"; insert = "YouWHY";},
)
